<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="post.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="left col-lg-6">
                <img src="./images/pic1.jpg" alt="birds" srcset="">
            </div>

            <div class="right col-lg-6">
                <h1>The Benefits of Owning a Pet Bird</h1>
                <div class="Author">
                    <h5>Bird Oasis, Jun 23, 2023</h5>
                </div>

                <div class="content">
                    <p class="_main">
                        If you're looking for a pet that is both beautiful and entertaining, you might want to consider
                        a pet bird. Not only do they come in a variety of colors and sizes, but they can also provide
                        many benefits to their owners. Pet birds can be great companions, providing love and
                        companionship to their owners. They can also help to reduce stress and anxiety, and can even
                        improve your overall mood. In this article, we will explore the many benefits of owning a pet
                        bird and provide tips on how to choose the right bird for you.
                    </p>
                </div>

                <div class="">
                    <p class="author_sign">
                        Bird Oasis
                    </p>
                    <p class="ref">References: PetMD (2021); The Spruce Pets (2020)</p>
                </div>
            </div><!--  -->
        </div>
    </div>

</body>

</html>