<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="post.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="left col-lg-6">
                <img src="./images/pic2.jpg" alt="birds" srcset="">
            </div>

            <div class="right col-lg-6">
                <h1>The Top 5 Pet Bird Species for Beginners</h1>
                <div class="Author">
                    <h5>Bird Oasis, Jun 23, 2023</h5>
                </div>

                <div class="content">
                    <p class="_main">
                        If you're new to the world of pet birds, it can be overwhelming to choose the right species.
                        Some birds require more attention and care than others, while some are more social than others.
                        In this article, we will explore the top 5 pet bird species for beginners, including their
                        personalities, care requirements, and what to expect when owning them.
                    </p>
                </div>

                <div class="">
                    <p class="author_sign">
                        Bird Oasis
                    </p>
                    <p class="ref">References: BirdChannel (2021); PetHelpful (2020)</p>
                </div>
            </div><!--  -->
        </div>
    </div>

</body>

</html>