<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="post.css" rel="stylesheet">

    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <title>Document</title>
</head>

<body>

    <div class="container">
        <div class="row">
            <div class="left col-lg-6">
                <img src="./images/pic3.jpg" alt="birds" srcset="">
            </div>

            <div class="right col-lg-6">
                <h1>How to Keep Your Pet Bird Happy and Healthy</h1>
                <div class="Author">
                    <h5>Bird Oasis, Jun 23, 2023</h5>
                </div>

                <div class="content">
                    <p class="_main">
                        If you already own a pet bird, or are considering getting one, it's important to know how to
                        keep them happy and healthy. Pet birds require specific care and attention to thrive, including
                        a balanced diet, regular exercise, and mental stimulation. In this article, we will provide
                        tips on how to keep your pet bird happy and healthy, including advice on diet, exercise, and
                        creating a stimulating environment.
                    </p>
                </div>

                <div class="">
                    <p class="author_sign">
                        Bird Oasis
                    </p>
                    <p class="ref">References: American Veterinary Medical Association (2021); PetMD (2020)</p>
                </div>
            </div><!--  -->
        </div>
    </div>

</body>

</html>